.container{
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px 0;
  align-items: center;
  background: #f5f6f7;
  flex-direction: column;
  justify-content: center;
}

.containerAll{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container h5 {
  color: #ff6116;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.container h3 {
  font-size: 38px;
  font-weight: 800;
  color: #252628;
  text-align: center;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer span {
  z-index: 9;
  display: flex;
  font-size: 20px;
  color: #36383b;
  background: #fff;
  padding: 20px 28px;
  margin-bottom: -3px;
  align-items: center;
  border-bottom: none;
  justify-content: center;
  border:solid 3px #e8e9eb;
  border-radius: 12px 12px 0 0;
}

.board {
  width: 80%;
  display: flex;
  background: #fff;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px 50px 40px;
  border: solid 3px #e8e9eb;
}

.board p {
  color: #252628;
  font-size: 32px;
  font-weight: 800;
  padding: 0 0 10px 0;
}

.board label {
  font-size: 18px;
  font-weight: 600;
  color: #252628;
  margin-top: 0;
}

.board input {
  padding: 16px 20px;
  font-size: 20px;
  border:solid 1px #d3d4d7;
  border-radius: 8px;
  color: #031f39;
  font-weight: 600;
  margin-top: 8px;
  width: 100%;
}

.board button {
  background: #2a5bd7;
  color: #fff;
  align-self: flex-start;
  width: 280px;
  padding: 16px 20px;
  font-size: 18px;
  height: 60px;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
}

.board strong {
  color: #252628;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.slogan {
  width: 100%;
  padding: 80px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0b1736;
}

.slogan h3 {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.slogan button {
  background: #2a5bd7;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all .3s ease;
  width: auto;
  padding: 18px 30px;
}

.slogan button:hover {
  background:#244eb8
}

@media (width <= 860px){
  .container h5, .container h3{
    width: 80%;
  }
  .board button{
    align-self: center;
    width: 100%;
  }
  .board input{
    width:90%
  }
}

@media (width <= 480px) {
  .container{
    padding: 50px 0;
    width: 100%;
  }
  .container h5 {
    font-size: 18px;
    line-height: 50px;
  }
  .dashboard {
    width: 100%;
  }
}