.container {
  width: 19%;
  height: 100vh;
  transition: all .3s ease;
  padding: 0px 0px 0px 10px;
  border-right: solid 1px #d7d7d7;
}

.container.selected {
  width: 5%;
}

.ContainerToggle {
  position: relative;
}

.ContainerToggle.selected {
  padding: 0 10px;
}

.ContainerToggle img {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;
}

.noToggleActive {
  color: #0c3ebb;
  fill: #0c3ebb;
  background: #f4f6fa;
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: 12px;
  margin: 10px;
  padding: 10px 0;
  text-decoration: none;
}

.noToggleActive h4 {
  color: #0c3ebb;
  margin: 0;
}

.noToggleActive svg path {
  fill: #0c3ebb;
}

.noToggleActive span {
  width: 4px;
  border-radius: 2px;
  height: 100%;
  background-color: #0c3ebb;
}

.noToggle {
  color: #273144;
  background: #fff;
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: 12px;
  margin: 10px;
  padding: 10px 0;
  text-decoration: none;
  transition: all .3s ease;
}

.noToggle h4{
  margin: 0;
}

.noToggle span {
  color: #fff;
}

.noToggle:hover {
  background: #f4f6fa;
  border-radius: 20px;
}

.noToggleActive.selected,
.noToggle.selected {
  gap: 4px;
  width: 30px;
  margin: 20px 0;
}

.buttonToggleOf,
.buttonToggleOn {
  position: absolute;
  right: -20px;
  top: 50px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #fff;
  border: solid 1px #d7d7d7;
  box-shadow: 0 0 3px #d7d7d7;
  font-size: 18px;
  padding: 0;
  text-align: center;
}

/* .buttonToggleOn {
  left: 14%;
} */

.separator {
  width: 90%;
  height: 2px;
  margin: 20px 0 0 0;
  background: #d7d7d7;
}

.buttonOnToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #022d94;
  color: #fff;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 5px;
  width: 95%;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.24);
}

.buttonOnToggle.selected {
  color: #fff;
  padding: 8px 8px;
  width: 35px;
  font-weight: bold;
}

.buttonOnToggle.selected svg {
  fill:#fff;
}

.buttonOnToggle:hover {
  background: #0c3ebb;
}

@media (width <= 860px){
  .container{
    display: none;
  }
  .container.selected{
    padding: 0px 15px 0px 10px;
  }
  .noToggle, .noToggle.selected, .noToggleActive, .noToggleActive.selected{
    width: 100%;
  }
}