.container {
  display: flex;
  margin-top: -5rem;
  align-items: center;
  padding: 0 0 100px 0;
  flex-direction: column;
  justify-content: center;
}

.containerSection {
  position: relative;
  display: flex;
}

.section1 {
  position: absolute;
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

.section1 h2{
  color: #56575b;
  font-size: 20px;
  line-height: 24px;
  margin: 14px 0 18px;
}
.section1 h1{
  font-size: 62px;
  font-weight: 800;
  line-height: 56px;
  margin: 0 0 8px;
}

.section2 {
  width: 100%;
}

.section3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.getStared {
  background-color: #2a5bd7;
  color:#fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 25px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  align-self: flex-start;
  transition: all .3s ease;
  }

.getStared:hover {
  background:#0236b9;
}

.img {
  width: 100%;
}

@media (width <= 1024px){
  .section1 {
    margin: 50px 0;
  }
  .section1 h1{
    font-size: 44px;
  }
  .section3{
    margin-top: 50px;
  }
}

@media (width <= 834px){
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    position: static;
  }
  .containerSection{
    width: 100%;
    position:static;
    margin: 0;
  }
  .section1 {
    width: 100%;
    margin: 0;
    padding: 15px 50px;
    position: static;
    align-items: flex-start;
  }
  .section1 h1{
    width: 70%;
    line-height: 44px;
    font-size: 44px;
  }
  .section1 h2{
    width: 100%;
    font-weight: bold;
    font-size: 18px;
  }
  .getStared {
    width: 90%;

  }
  .section2{
    display: none;
  }
  .section3{
    width: 90%;
  }
}

@media (width <= 780px){
  .section1 h1 {
    width: 100%;
    font-size: 50px;
  }
}

@media (width <= 480px){
  .getStared{
    width: 100%;
    font-size: 24px;
  }
  .containerSection {
    width: 90%;
  }
  .section1 {
    width: 90%;
    align-items: center;
  }

  .section1 h1{
    line-height: 50px;
  }
  /* .section3{
    padding-left: 10%;
  } */

}
